.button {
    border-radius: 8px;
    border: 5px solid #161D2F;
    border-style:groove;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #459DEF;
    color: #161D2F;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  

#button-reset{
    display: flex;
    flex-direction: column;
    width: min-content;
}
