.filters-section{
    display:flex;
    width: 100%;
    flex-direction: row;
    background-color: var(--color-trasnparent);
    padding: 1rem;
    justify-content: center;
}

.filters-section div{
    margin-left: 4rem;
    margin-right: 4rem;
}

.filters-section input[type="radio"]:checked + label {
    color: blue; /* Color del texto cuando el input radio está seleccionado */
    font-style: italic; /* Estilo del texto cuando el input radio está seleccionado */
  }