.filters-section{
    display:flex;
    width: 100%;
    flex-direction: row;
    background-color: var(--color-trasnparent);
    padding: 1rem;
    justify-content: center;
}

.filters-section div{
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.filters-section input:checked  {
    color: var(--color-violet);
}

@media (min-width: 700px){

    .filters-section div{
        margin-left: 4rem;
        margin-right: 4rem;
        font-size: 1.2rem;
    }
    

}
