.filters-section{
    display: flex;
    flex-direction: row;
    
}

.filter-label{
    font-weight: 200;
    
}


@media (min-width: 700px){
    .filter-label{
        font-size: 1.5rem;
        font-weight: 200;
        
    }
    .filters-section{
        margin-left: 2rem;
        
    }

    
  }