

.button {
    border-radius: 8px;
    outline: 0;
    background-color: var(--color-white);
    color: var(--color-violet);
    border-color: var(--color-white);
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s;
}

.delete-button, .edit-button{
    width: 2rem;
    margin: 0;
    border-radius: 0.3em;
    padding: 0.3rem;
    margin-left: 1rem;
    background-color: var(--color-checkbox);
    border: none;
}

.delete-button{
    padding: 0.4rem;
}

.clear-completed-button{
    padding-left: 1rem;
    padding-right: 1rem;
}

.close-pop-up-button{
    width: 2rem;
    height: 2rem;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: var(--color-transparent);
}

.button:hover {
    border-color: var(--color-blue);
    transform: scale(1.05);
}



.img-btn{
    width: 80%;
}

#close-pop-up-img{
    width: 80%;
}