
.img-border-section{
    display: flex;
    width: 46%;
    border-color: #15B4FF;
    border-width: 2px;
    border-radius: 0.8em;
    border-style: solid;
}

.img-border-section img{
    width: 95%;
    padding: 0.5em;

}

@media (min-width: 600px){ 
    .img-border-section{
        display: flex;
        width: 47%;
        justify-content: center;
    }
    .img-border-section img{
        width: 80%;
        padding: 0.5em;

    }
}
