.button{
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
    justify-content: center;
    border-radius: 0.5em;
    font-weight: 600;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.7em;
}

.button:hover{
    color: #15B4FF;
    border-color: #15B4FF;
}

.on{
    background-color: #15B4FF;
    border-color: #15B4FF;
}


#info-button{
    margin-left: 5%;
}


@media (min-width: 600px){
    .button{
        width: 100%;
        font-weight: 600;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        font-size: 0.6em;
    }

    
        #info-button{
            display:flex;
            width: 100%;
        }
}

