.service-item{
    display: flex;
    flex-direction: column;
    background-color: #393939;
    width: 40%;
    height: 80px;
    margin-bottom: -em;
    height: 9em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.6em;
    align-items:center;
    justify-content: end;
}

.service-text{
    display:flex;
    flex-direction: column;
    text-align: start;
    width: 75%;
}

.service-item img{
    display: flex;
    width: 5%;
    margin: 0.2em;
    
    
}

.service-item p{
    color: aliceblue;
 
}

#text-service{
    color: #d2d2d2;
    font-weight: 500;
}

@media (min-width: 600px){
    .service-item{
        display: flex;
        position: relative;
        flex-direction: row;
        width: 98%;
        height: fit-content;
        margin-top: 3rem;
        padding-bottom: 1.2rem;
        padding-top: 1.5rem;
        padding-right: 2rem;
    }

    .service-item img{
        position: absolute;
        display: flex;
        width: 30%;
        left: 0.6rem;
        top: -2rem;
        margin-right: 2rem;
    }

    .service-item p{
        display: flex;
        margin-bottom: 0.5rem;
    }

    .service-text{
        margin-left: 12rem;
    }
  }
  

