.service-item{
    display: flex;
    flex-direction: column;
    background-color: #393939;
    width: 48%;
    height: 80px;
    margin-bottom: -em;
    height: 14rem;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.6em;
    align-items: center;
    justify-content:center
}

.service-text{
    display:flex;
    flex-direction: column;
    text-align: start;
    width: fit-content
}

.service-item img{
    display: flex;
    width: 90%;
    margin: 0.2em;
    
    
}

.service-item p{
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: aliceblue;
 
}

#text-service{
    display: none;
    color: #d2d2d2;
    font-weight: 500;
}

@media (min-width: 600px){
    .service-item{
        display: flex;
        position: relative;
        flex-direction: row;
        width: 98%;
        height: fit-content;
        margin-top: 3rem;
        padding-bottom: 1.2rem;
        padding-top: 1.5rem;
        padding-right: 2rem;
    }

    .service-item img{
        position: absolute;
        display: flex;
        width: 30%;
        left: 0.6rem;
        top: -2rem;
        margin-right: 2rem;
    }

    .service-item p{
        display: flex;
        margin-bottom: 0.5rem;
    }

    .service-text{
        display: flex;
        flex-direction: column;
        margin-left: 12rem;

    }
    #text-service{
        display: flex ;
    }

    #title-service{
        margin-top: 0;
        font-size:larger;
        font-weight: 500;
    }
  }
  

