.card{
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 30rem;
    height: fit-content;
    padding: 0.5rem;
    color: var(--font-text-color);
    border-radius: 2em;
    
}

img {
    max-width: 25rem; 
    max-height: 18rem; 
    border-radius: 0.5em;
    object-fit: cover; 
    border: 5px solid;
    border-color: var(--green-dark-color);
}

.text{
    margin: 0;
    margin-top: 1rem;
    font-size: 1.1em;
    font-weight: 600;
}

  

  @media (max-width: 800px){
    .card{
        width: 20rem;
        
    }
    
    img {
        max-width: 20rem; 
        max-height: 12rem; 

    }

    .text{
        margin: 0;
        margin-top: 1rem;
        font-size: 1em;
        font-weight: 600;
    }
  }
  
  
  @media (max-width: 500px){
    .card{
        width: 15rem;
        margin-top: 1.5rem;
        
    }
    
    img {
        max-width: 12rem; 
        max-height: 12rem; 

    }

    .text{
        margin: 0;
        margin-top: 1rem;
        font-size: 0.9em;
        font-weight: 600;
    }
  }