.list-footer{
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin-top: 2rem;

}

.list-footer ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left:0;
    margin: 0;
    padding: 0;
}

.footer-text{
    color: gray;
    display: flex;
    font-size: 0.7rem;
    margin: 0;
}

.footer-title{
    display: flex;
    width: 90%;
    height: fit-content;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: gray;
    margin: 0;
}

@media (min-width: 600px){
    .list-footer{
        width: 10rem;
        display: flex;
    }
}
