button {
    width: 8rem;
    border-radius: 8px;
    border: 2px solid var(--font-text-color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--green-light-color);
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 3rem;
    color: var(--green-dark-color);
    font-weight: 600;
    top: 35rem;
    position: absolute;
  }

  button:hover {
    border-color: var(--green-dark-color)
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (max-width: 800px) {
   button{
    top: 66%;
   }
    
  }

  @media (max-width: 500px){
    button{
      top: 65%;
     }
  }
  