.projects-list-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.project-image-div{
    display: flex;
    margin-bottom: 1.5rem;
    
}
.project-image-div img{
    width: 100%;
    border-radius: 1rem;
}

@media (min-width: 700px){
    .project-image-div{
        display: flex;
        width: 28.5rem;
        height: 13.6rem;
        border-radius: 0.6rem;
        
    }

    .project-image-div img{
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }

    .projects-list-div{
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 1rem;

    }
    .project-image-div{
        flex: 0 0 auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    
  }