.ribbons-img{
    display: flex;
    position: fixed;
    width: 160%;
    top: 0rem;
    left: -15rem;

}

@media (min-width: 700px){
    .ribbons-img{
        display: flex;
        margin: 0;
        position: fixed;
        width: 100%;
        top: -1rem;
        left: 0;
    
    }
  }