.form{
    display:flex;
    width: 60%;
    flex-direction: row;
    margin-top: 10rem;
    background-color: var(--color-trasnparent);
    padding: 1rem;
    justify-content: center;
}



.task-input{
    width: 100%;
    border: none;
    border-radius: 0.5em;
    padding: 1rem;
    background-color: var(--color-white-opacity);
    outline: 0;
    margin-right: 2rem;
}

.submit-input{
    padding-left: 1rem;
    padding-right: 1rem;
}
