#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.page-div{
  width: 21.5rem;
  height: 40rem;
  background-color: #484848;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-top: 8rem;
  margin-bottom: 0rem;
}

@media (min-width: 700px){
  .page-div{
    width: 59rem;
    height: 32rem;
    margin-left: 17rem;
    margin-top: 7rem;
    margin-right: 8rem;
    margin-bottom: 1rem;
  }
}