#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.page-div{
  height: 35rem;
  background-color: rgb(18, 18, 18);
  margin-left: 12rem;
  margin-top: 8rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
}