.buttons-block-text-g502{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.block-text-g502{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px){ 
    .block-text-g502{
        display: grid;
        grid-template-columns: 53% 43%;
        column-gap: 4%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .block-text-g502 div{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content:baseline;
    }

    .buttons-block-text-g502{
        display: flex;
        width: fit-content;
        margin-top: 1rem;
        margin-left: 0;
        align-items: center;
        justify-content:baseline;

    }
}
