.form-contact-card{
    display:flex;
    width: 100%;

}

.form-contact-div{
    width: 19.5rem;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    background-color: #0B997C;
    z-index: 5;
    border-radius: 0.5rem;
    margin-top: 4rem;
}

.form-contact-div input{
    border: 2px solid white;
    background-color: transparent;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    font-size: 0.8rem;
}


.form-contact-div input::placeholder{
    color: #cdc7c49e;
}

.submit-input-contact{
    width: 100%;
    background-color: #D1E50A;
    padding: 1rem;
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

#input-description, #input-message{
    padding-bottom: 4rem;
}


.form-login-card{
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-login-div{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.submit-input-login{
    display: flex;
    width: 35%;
    margin-top: 2rem;
    margin-left: 5rem;
}

.form-login-div input{
    border: 2px solid #0B997C;
    background-color: transparent;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    font-size: 0.8rem;
}

.form-add-project-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
}


.form-add-project-div{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.submit-input-add-project{
    width: 100%;
    background-color: #0B997C;
    padding: 1rem;
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: none;
}

.form-add-project-div input{
    width: 18rem;
    border: 3px solid #0B997C;
    background-color: transparent;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    font-size: 0.9rem;
}

#input-image1{
    display: flex ;
    flex-direction: column;
    background-color: #0B997C;
    color: #ffffff;
}

#input-image2{
    display: flex ;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
}

#input-image3{
    display: flex ;
    flex-direction: column;
    background-color: #D1E50A;
}

#input-image4{
    display: flex ;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
}


@media (min-width: 700px){
    
    .form-contact-div{
        width: 24rem;
        padding: 2rem;
        margin: 0;

    }

    .form-contact-div input{
        padding: 0.5rem;

    }

    .submit-input-contact{
        padding: 1.3rem;
        font-size: 2rem;

    }
    
    
    
  }
