.product-item{
    display: flex;
    position: relative;
    width: 70%;
    margin-right: 2em;
    margin-left: 2em;
    height: 11em;
    background-color: #393939;
    flex-direction: column;
    border-radius: 1em;
    align-items:center;
    justify-content: end;

}


  

.product-item img{
    display: flex;
    position: absolute;
    width: 100%;
    top: -3.5rem;
    
}

@media (min-width: 600px){
    .product-item{
        display: flex;
        width: 24rem;
        height: 15rem;
        margin: 0;
        padding-bottom: 1rem;
    }
    .product-item img{
        display: flex;
        position: absolute;
        width: 95%;
        top: -5rem;
        
    }

    .product-item p{
        font-weight: 600;
    }

    .product-item:hover{
        transform: scale(1.05);
    }
}
