
.header-section{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    height: 8rem;
    background-color: var(--color-white);
    flex-direction: row;
    align-items: center;
    justify-content:center;
    z-index: 9; 

}

.header-section h1{
    background-image: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    font-size: 3rem;
}

#logo-header-img{
    width: 3rem;
    margin-right: 4%;
}


@media (min-width: 700px){
    .header-section h1{
        font-size: 4rem;
    }

    #logo-header-img{
        width: 4rem;
        margin-right: 2%;
    }

}