.task{
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
    color: var(--color-font);
    width: 96%;
    height: 4rem;
    border-radius: 0.5em;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

}

.task div{
    display: flex;
    flex-direction: row;
}

.task p{
    margin-left: 1rem;
}

.line-through-text{
    text-decoration: line-through; /* Tachado */
    text-decoration-color: var(--color-violet); 
    color: var(--color-font-completed);
}
