
#root {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    --ts--mobile: 3.3rem;
    --ss-mobile:

  }
  
.button{
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
    justify-content: center;
    border-radius: 0.5em;
    font-weight: 600;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.7em;
}

@media (min-width: 600px){
    .button{
        font-weight: 600;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 0.8em;
    }
}

.button:hover{
    color: #15B4FF;
    border-color: #15B4FF;
}


#logoMobile{
    display: flex;
    align-self: flex-start;
    margin-left: 5%;
}

#logoWeb{
    display: none;
}

#menuIconMobile{
    display: flex;
    
}

.SectionsList{
    display: flex;
    width: 100%;
    height: 35%;
    background-color: #222222;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    margin: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    

}

@media (min-width: 600px){
    .TopBar{
        display: flex;
    }
    .SectionsList{
        display: flex;
        position: relative;
        flex-direction: row;
        margin-left: 20%;
        margin-right: 5%;
    
    }
}

.SectionsList li{
    padding: 1rem;
    list-style: none;
    font-weight: 500;
}

.SectionsList li:hover{
    color: #15B4FF;
    border-bottom: 3px solid #15B4FF;
}

.iconsTopBar{
    display: flex;
    flex-direction: row;
}

.TopBar {
    width: 83.3%;
    margin-top: 7%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 600px){ 
    .TopBar {
        margin-top: 3%;
        display: flex;
        align-items: center;
    }
}


.container{
    display: flex;
    flex-direction: column;
    width: 83.3%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10%;
}

.BlockTextG502 p{
    display: flex;
    justify-content: center;
}

.buttonsBlockTextG502{
    display: flex;
    justify-content: center;
}

.mouseG02Img{
    width: 80%;
    height: 40%;
    padding-left: 12%;
    padding-top: 8%;

}

@media (min-width: 600px){
    .container {
        width: 50%;
    }
}

.title{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}



.subTitle{
    display: flex;
    width: 90%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: gray;
    margin: 0;
    margin-left: 5%;
}


.text{
    display:flex;
    text-align: center;
    color: rgb(227, 226, 226);
    display: flex;
    font-size: 0.75rem;
}

.price{
    font-size: 1.5rem;
    font-weight: 600;
    color:#15b5ff4d ;
}

@media (min-width: 600px){
    .title{
        font-size: 3.3rem;
        font-weight: 600;
        margin: 0;
    }

    .subTitle{
        width: 70%;
        font-size: 1.6rem;
        font-weight: 600;
        color: gray;
        margin: 0;
    }

    .text{
        font-size: 1rem;
        font-weight: 600;
    }
    
    .price{
        font-size: 2rem;
        font-weight: 600;
        color:#15b5ff4d ;
    }
    
}


.on{
    background-color: #15B4FF;
    border-color: #15B4FF;
}

#InfoButton{
    margin-left: 5%;
}

.sectionImgsBorder{
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    justify-content: space-between;
}

.imgBordeSection{
    display: flex;
    width: 46%;
    border-color: #15B4FF;
    border-width: 2px;
    border-radius: 0.8em;
    border-style: solid;

}

.imgBordeSection img{
    width: 90%;
    padding: 0.5em;

}
.sectionProducts{
    display: flex;
    margin-top: 6em;
    width: 100%;
    align-items: center;
}

.sectionProduct{
    display: flex;
    position: relative;
    width: 80%;
    height: 11em;
    background-color: #313131;
    flex-direction: column;
    border-radius: 1em;
    align-items:center;
    justify-content: end;
    padding-bottom: 0.5em;
    margin-bottom: 4em;
    
}

.sectionProduct img{
    display: flex;
    width: 100%;
    top: -10%;
    position: absolute;
    
}