
#root {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    --ts--mobile: 3.3rem;
    --ss-mobile:

  }
  
.button{
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
    justify-content: center;
    border-radius: 0.5em;
    font-weight: 600;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.5em;
}

@media (min-width: 600px){
    .button{
        font-weight: 600;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 0.8em;
    }
}

.button:hover{
    color: #15B4FF;
    border-color: #15B4FF;
}

.TopBar{
    display: flex;
}

#logo{
    margin-right: 20%;
}

#menuIcon{
    margin-left: 5%;
}

.SectionsList{
    display: flex;
    position: absolute;
    top: 10%;
    left: 0;
    margin: 0;
    flex-direction: column;

}

@media (min-width: 600px){
    .TopBar{
        display: flex;
    }
    .SectionsList{
        display: flex;
        flex-direction: row;
        margin-left: 20%;
        margin-right: 5%;
    
    }
}

.SectionsList li{
    padding: 1rem;
    list-style: none;
    font-weight: 500;
}

.SectionsList li:hover{
    color: #15B4FF;
    border-bottom: 3px solid #15B4FF;
}

.TopBar {
    width: 100%;
    margin-top: 7%;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

@media (min-width: 600px){ 
    .TopBar {
        margin-top: 3%;
        display: flex;
        align-items: center;
    }
}


.container{
    display: flex;
    position: relative;
    width: 86%;
    margin-left: 10%;
    margin-top: 7%;
}

@media (min-width: 600px){
    .container {
        width: 50%;
    }
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}



.subTitle{
    width: 60%;
    font-size: 0.8rem;
    font-weight: 600;
    color: gray;
    margin: 0;
}


.text{
    font-size: 0.5rem;
    font-weight: 600;
}

.price{
    font-size: 1rem;
    font-weight: 600;
    color:#15b5ff4d ;
}

@media (min-width: 600px){
    .title{
        font-size: 3.3rem;
        font-weight: 600;
        margin: 0;
    }

    .subTitle{
        width: 70%;
        font-size: 1.6rem;
        font-weight: 600;
        color: gray;
        margin: 0;
    }

    .text{
        font-size: 1rem;
        font-weight: 600;
    }
    
    .price{
        font-size: 2rem;
        font-weight: 600;
        color:#15b5ff4d ;
    }
    
}


.on{
    background-color: #15B4FF;
    border-color: #15B4FF;
}

#InfoButton{
    margin-left: 5%;
}